body{
    
    padding: 0px;
    margin:0px;
}
.container{
    width:700px;
    background-color: rgb(44, 44, 44);
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header{
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
.maincontent{
    height: 500px;
    padding: 10px;
    background-color: #ddd;
}
.footer{
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}